/* added some ugly style */

h1 {
    color: #1b1a1a;
}

form {
    margin-bottom: 20px;
    background: white;
    padding: 50px;
    border-radius: 5px;
    width: 40%;
    background-color: rgb(235, 229, 229);

}


input, button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}

button {
    background-color: green;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px;
}

 
 
ul {
    margin: 20px 0;   
    background-color: #ffffff;
    border-radius: 10px;

}

 
li {
    padding: 15px;
    font-size: 16px;
}

 
 
 